.vscode/

# Website project ignores
website/node_modules/
website/src/static/styles.css
website/src/pages/out/
website/db/

# -----------------------
# Dashboard project ignores
# -----------------------

dashboard/
