.vscode/

# Website project ignores
website/node_modules/
website/src/static/styles.css
website/src/pages/out/
website/db/

# -----------------------
# Dashboard project ignores
# -----------------------

# dependencies
dashboard/node_modules
dashboard/.pnp
dashboard/.pnp.*
dashboard/.yarn/*
dashboard/!.yarn/patches
dashboard/!.yarn/plugins
dashboard/!.yarn/releases
dashboard/!.yarn/versions

# testing
dashboard/coverage

# next.js
dashboard/.next/
dashboard/out/

# production
dashboard/build

# misc
dashboard/.DS_Store
dashboard/*.pem

# debug
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
dashboard/.env*

# vercel
dashboard/.vercel
    
# typescript
dashboard/*.tsbuildinfo
dashboard/next-env.d.ts
